@(users: List[User])
@import helper._
@main("List of users") {
  <table class="table">
    <thead>
      <tr>
        <td>Id</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>BirthDate</td>
        <td>Address</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Delete</td>
        <td>Edit</td>
        <td>Add Car</td>
        <td>Show Cars</td>
      </tr>
    </thead>
    <tbody>
    @for(user <- users) {
      <tr>
        <td>@user.id</td>
        <td>@user.firstName</td>
        <td>@user.lastName</td>
        <td>@user.birthDate</td>
        <td>@user.address</td>
        <td>@user.phone</td>
        <td>@user.email</td>
        <td>
          @some_templates.btn_with_confirm("Delete", routes.UsersActions.deleteUser(user.id).toString(), "btn-danger", User.hasSubfields(user.id))
        </td>

        <td>
          @some_templates.btn("Edit", routes.UsersActions.editUser(user.id).toString(), "btn-warning")
        </td>

        <td>
          @some_templates.btn("Add", routes.CarsActions.newCarWithUser(user.id).toString(), "btn-info")
        </td>
        
        <td>
          @some_templates.btn("Show", routes.Application.getUserCars(user.id).toString(), "btn-default")
        </td>
      </tr>
    }
    </tbody>
  </table>
  @some_templates.btn("Create new User", routes.UsersActions.newUser().toString(), "btn-success")
}