@(carForm: Form[Car])
@import helper._
@main("Create new") {

    @form(routes.Application.saveCar()) {

        @inputText(carForm("id"), '_label -> "", 'style -> "display : none")
        @inputText(carForm("make"), '_label -> "", '_label -> "make")
        @inputText(carForm("model"), 'size -> 30, '_label -> "model")
        @inputText(carForm("year"), '_label -> "", '_label -> "year")
        @inputText(carForm("vin"), 'size -> 30, '_label -> "vin")


        <input type="submit" value="Подтвердить" name="confirm"/>
        <input type="button" value="Отмена" name="cancel" onclick="window.location='/cars';"/>
    }

}