@(cars: List[Car], usersId : Long)
@import helper._
@main("List of cars") {
  @form(routes.Application.postChosenCar()) {
    <table>
      <thead>
        <tr>
          <td>
            Pick a car
          </td>
          <td>Make</td>
          <td>Model</td>
          <td>Year</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
      @for(car <- cars) {
        <tr>
          <td>
            <input type="radio" name="car" value="@car.id" id="@car.id" required/>
          </td>
          <td>@car.make</td>
          <td>@car.model</td>
          <td>@car.year</td>
          <td>@car.vin</td>

        </tr>
      }
      </tbody>
    </table>
    @some_templates.btn("Add new car", routes.CarsActions.newCarWithUser(usersId).toString(), "btn-success")
    @some_templates.submit_btn()
  }
}