@(cars: List[Car], usersId : Long)
@import helper._
@main("List of cars") {
  @form(routes.Application.postChosenCar()) {
    <table>
      <thead>
        <tr>
          <td>
            Выбор авто
          </td>
          <td>make</td>
          <td>model</td>
          <td>year</td>
          <td>status</td>
        </tr>
      </thead>
      <tbody>
      @for(car <- cars) {
        <tr>
          <td>
            <input type="radio" name="car" value="@car.id" id="@car.id"/>
          </td>
          <td>@car.make</td>
          <td>@car.model</td>
          <td>@car.year</td>
          <td>@car.vin</td>

        </tr>
      }
      </tbody>
    </table>
    <input type="button" id="redir" value="Add new car"
    onclick="window.location='@routes.CarsActions.newCarWithUser(usersId)';">
    <button type="submit">Далее</button>
  }
}