@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <a href="@routes.Application.index()">Main page</a>
        <a href="@routes.UsersActions.getUsers()">Users(@User.finder.findRowCount())"</a>
        <a href="@routes.CarsActions.getCars()">Cars(@Car.finder.findRowCount())"</a>
        <a href="@routes.OrdersActions.getOrders()">Orders(@Orders.finder.findRowCount())</a>
        <hr>
        @content
    </body>
</html>
